In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib qt


df = pd.read_csv("../Datasets/Plane Crashes.csv")

In [3]:
df.describe()

,YOM,Flight no.,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities
count,23225.000000,0.0,28512.000000,28535.000000,28482.000000,28535.000000,28526.000000,28536.000000
mean,1931.942519,NaN,3.052539,1.771649,7.705393,3.679727,0.109760,5.567389
std,285.486067,NaN,11.738151,2.520554,24.066368,15.288171,2.644296,16.713203
min,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1944.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1958.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1974.000000,NaN,4.000000,3.000000,4.000000,1.000000,0.000000,5.000000
max,19567.000000,NaN,1924.000000,25.000000,509.000000,506.000000,297.000000,520.000000

In [34]:
crashes_by_year = df.groupby(df['year']).size()
# print(crashes_by_year)

# plot year vs number of rows
ax = crashes_by_year.plot(kind='bar', xlabel='Year', ylabel='Number of Crashes')

# Set the x-axis tick locator
ax.tick_params(axis='x', which='major', pad=2)
ax.set_xticklabels(crashes_by_year.index, rotation=45)
ax.set_xticks(np.arange(0, len(crashes_by_year.index), 4))

# show the plot
plt.show()

year
1918     25
1919     83
1920    127
1921    138
1922    106
       ...
2018    131
2019    145
2020    113
2021    113
2022     39
Length: 105, dtype: int64

In [25]:
df["time_2"] = df["Time"].fillna("00:00")
df["datetime"] =  pd.to_datetime(df['Date'].astype(str) + ' ' + df['time_2'].astype(str))
df["year"] = df["datetime"].dt.year

df.drop(columns=['time_2'],inplace=True)
df.head(10)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause,datetime,year
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure,1918-05-02 00:00:00,1918
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure,1918-06-08 00:00:00,1918
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown,1918-06-11 00:00:00,1918
3,1918-06-19,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32098,Flight,Military,No,Airport (less than 10 km from airport),Wright Patterson AFB-Wright Patterson AFB,...,1.0,1.0,0.0,0.0,0.0,1,"Lt. Frank Stuart Patterson, son and nephew of ...",Technical failure,1918-06-19 00:00:00,1918
4,1918-06-24,NaN,Breguet 14,French Air Force - Armée de l'Air,AS-4130,Landing (descent or approach),Military,Yes,NaN,NaN,...,NaN,0.0,NaN,0.0,0.0,0,The aircraft crashed iupon landing somewhere i...,Unknown,1918-06-24 00:00:00,1918
5,1918-07-14,NaN,Fairey III,Marine Aeroplane Depot,N2851,Landing (descent or approach),Delivery,No,Airport (less than 10 km from airport),Isle of Grain - Usworth - Glasgow,...,1.0,1.0,0.0,0.0,0.0,1,The pilot departed Isle of Grain on a delivery...,Unknown,1918-07-14 00:00:00,1918
6,1918-07-18,NaN,De Havilland DH.6,Royal Air Force - RAF,B3087,Flight,Training,No,Airport (less than 10 km from airport),Seaton Carew - Seaton Carew,...,2.0,2.0,0.0,0.0,0.0,2,The crew was completing a local training fligh...,Unknown,1918-07-18 00:00:00,1918
7,1918-08-19,15H 15M 0S,Handley Page H.P.12,Royal Air Force - RAF,D4593,Flight,Test,No,"Plain, Valley",Castle Bromwich - Castle Bromwich,...,2.0,2.0,5.0,5.0,0.0,7,The aircraft departed Castle Bromwich for a te...,Technical failure,1918-08-19 15:15:00,1918
8,1918-08-23,NaN,Tellier T.3,Portuguese Air Force - Aeronáutica Militar,5,Flight,Survey / Patrol / Reconnaissance,No,"Lake, Sea, Ocean, River",NaN,...,2.0,2.0,0.0,0.0,0.0,2,The seaplane crashed in unknown circumstances ...,Unknown,1918-08-23 00:00:00,1918
9,1918-08-26,NaN,Blackburn R.T.1 Kangaroo,Royal Air Force - RAF,B9976,Landing (descent or approach),Military,Yes,Airport (less than 10 km from airport),Seaton Carew AFB - Seaton Carew AFB,...,2.0,0.0,0.0,0.0,0.0,0,"On final approach in bad visibility, aircraft ...",Unknown,1918-08-26 00:00:00,1918

In [54]:
crashes_by_phase=df.groupby(df['Flight phase']).size()

ax = crashes_by_phase.plot(kind='bar')
ax.set_xlabel("Flight Phase", fontdict={'fontsize': 13, 'fontweight': 'bold'}, labelpad=10)
ax.set_ylabel("Number of Crashes", fontdict={'fontsize': 13, 'fontweight': 'bold'}, labelpad=10)
ax.set_xticklabels(crashes_by_phase.index, rotation=0)

[Text(0, 0, 'Flight'),
 Text(1, 0, 'Landing (descent or approach)'),
 Text(2, 0, 'Parking'),
 Text(3, 0, 'Takeoff (climb)'),
 Text(4, 0, 'Taxiing')]

In [3]:
df["Survivors"] = df["Crew on board"] + df["Pax on board"] - df["Crew fatalities"] - df["PAX fatalities"]

In [4]:
flight_types_mapping = {
    "Test": "testing/training",
    "Training": "testing/training",
    "Calibration": "testing/training",
    "Delivery": "delivery",
    "Postal (mail)": "delivery",
    "Supply": "delivery",
    "Cargo": "delivery",
    "Fire fighting": "support",
    "Refuelling": "support",
    "Spraying (Agricultural)": "support",
    "Ambulance": "support",
    "Ferry": "support",
    "Topographic": "support",
    "Humanitarian": "support",
    "Calibration": "support",
    "Meteorological / Weather": "support",
    "Geographical / Geophysical / Scientific": "support",
    "Aerial photography": "private/business",
    "Scheduled Revenue Flight": "private/business",
    "Private": "private/business",
    "Charter/Taxi (Non Scheduled Revenue Flight)": "private/business",
    "Demonstration": "private/business",
    "Executive/Corporate/Business": "private/business",
    "Cinematography": "private/business",
    "Skydiving / Paratroopers": "private/business",
    "Aerobatic": "private/business",
    "Positioning": "private/business",
    "Military": "government",
    "Government": "government",
    "Survey / Patrol / Reconnaissance": "government",
    "Illegal (smuggling)": "illegal",
    "Bombing": "illegal"
}

In [5]:
df.dropna(subset=["Flight type"], inplace=True)
df["flight_group"] = df["Flight type"].map(flight_types_mapping)

In [6]:
df_crash_cause = pd.DataFrame()
for group in df["flight_group"].unique():
    df_tmp = pd.DataFrame()
    df_tmp["group"] = [group]
    df_tmp["number of crashes"] = [len(df[df["flight_group"] == group])]
    for crash_cause in df["Crash cause"].unique():
        df_tmp[crash_cause] = [len(df[(df["Crash cause"] == crash_cause) & (df["flight_group"] == group)])]
    df_crash_cause = pd.concat([df_crash_cause,df_tmp])

In [7]:
df_crash_cause

,group,number of crashes,Technical failure,Unknown,Weather,Human factor,Other causes,"Terrorism act, Hijacking, Sabotage"
0,testing/training,3865,836,1457,105,1399,51,17
0,government,5791,1188,2748,337,961,82,475
0,delivery,3915,1011,949,259,1366,152,178
0,support,1649,353,438,78,713,43,24
0,private/business,12362,2712,3141,739,5285,293,192
0,illegal,897,101,213,10,191,6,376

In [10]:
df_survivors = pd.DataFrame()
for group in df["flight_group"].unique():
    df_tmp = pd.DataFrame()
    df_tmp["group"] = [group]
    df_tmp["number of crashes"] = [len(df[df["flight_group"] == group])]
    df_tmp["total on-board"] = df[df["flight_group"] == group]["Crew on board"].sum() + df[df["flight_group"] == group]["Pax on board"].sum()
    df_tmp["number of survivors"] = df[df["flight_group"] == group]["Survivors"].sum()
    df_tmp["number of cauelties"] = df[df["flight_group"] == group]["Crew fatalities"].sum() + df[df["flight_group"] == group]["PAX fatalities"].sum() + df[df["flight_group"] == group]["Other fatalities"].sum()
    df_tmp["percentage_survivors"] = df_tmp["number of survivors"]*100/df_tmp["total on-board"]
    df_survivors = pd.concat([df_survivors,df_tmp])

In [11]:
df_survivors

,group,number of crashes,total on-board,number of survivors,number of cauelties,percentage_survivors
0,testing/training,3865,15763.0,5967.0,10293.0,37.854469
0,government,5791,47323.0,13951.0,33796.0,29.480380
0,delivery,3915,13430.0,6379.0,8105.0,47.498138
0,support,1649,6503.0,2469.0,4118.0,37.967092
0,private/business,12362,218292.0,120196.0,98989.0,55.062027
0,illegal,897,5167.0,1857.0,3380.0,35.939617